@font-face {
  font-family: comic;
  src: url(comic.ttf);
}

body {
  font-family: comic;
  font-size: 40px;
  
  background-image: url("/Images/mikewazowski.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}
