@font-face {
  font-family: comic;
  src: url(comic.ttf);
}

body {
  font-family: comic;
  font-size: 40px;
  color: white;
  background-image: url("/Images/halloween2.jpg");
  height: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
